@import url('./__item/photo-grid__item.css');

.photo-grid {
  grid-area: photo-grid;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  grid-gap: 16px;
}

@media screen and (max-width: 1276px) {
  .photo-grid {
    grid-gap: 14px;
  }
}

@media screen and (max-width: 900px) {
  .photo-grid {
    grid-gap: 15px;
  }
}
@media screen and (max-width: 670px) {
  .photo-grid {
    grid-gap: 12px;
  }
}
