.places {
  grid-area: places;
  display: grid;
  grid-row-gap: 84px;
  justify-items: start;
}

@media screen and (max-width: 1200px) {
  .places {
    grid-row-gap: 87px;
  }
}

@media screen and (max-width: 900px) {
  .places {
    grid-row-gap: 78px;
  }
}
