.intro__list {
  grid-row: 3;
  grid-column: 1;

  margin: 32px 0 0 0;
  padding: 0;
  list-style: none;

  font-size: 0.75rem;
  line-height: 1.5;

  color: inherit;
  background-color: transparent;
}
