@import url('./__subtitle/lead__subtitle.css');
@import url('./__title/lead__title.css');
@import url('./__figure/lead__figure.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
  grid-area: lead;
  display: grid;
  grid-template-areas:
  '. lead__title .'
  '. lead__subtitle .'
  '. lead__figure .';
  grid-template-columns: 1fr minmax(320px, 984px) 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1px;
}
