.cover__subtitle {
  /* position: absolute; */
  margin: 0;
  padding: 0 50px 0 50px;
  /* grid-column: 2 / 3;
  grid-row: 5 / 6; */
  position:absolute;
  margin: 32px auto 0 auto;
  font-size: 1.125rem;
  line-height: 1.222;

  text-align: center;
  width: 500px;

  align-self: center;


  z-index: 4;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 0.875rem;
    line-height: 1.143;
  }
}
