.cover__subtitle {
  margin: 28px 0px 0px 0px;
  max-width: 360px;
  font-size: 1.125rem;
  line-height: 1.222;
  text-align: center;
  z-index: 2;

}

@media screen and (max-width: 720px) {
  .cover__subtitle {
    margin: 16px 0px 0px 0px;
    max-width: 288px;
    font-size: 0.875rem;
    line-height: 1.143;
  }
}
