@import url('./__lang-links/header__lang-links.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_active-ru/header__lang-link_active-ru.css');
@import url('./__logo/header__logo.css');


.header {
  grid-area: header;
  display: grid;
  grid-template-areas:
  'header__logo header__lang-links';
  margin: 2px 48px 56px 48px;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width: 1360px) {
  .header  {
    margin: 18px 3.1vw 66px 3.1vw;
  }
}

@media screen and (max-width: 768px) {
  .header  {
    margin: 5vw 3vw 58px 3vw;
  }
}
