.content {
  grid-area: content;

  display: grid;
  grid-template-areas:
  '. lead .'
  '. intro .'
  'photo-grid'
  '. places .'
  'cover';
  

  grid-row-gap: 92px;
  justify-items: center;
}

/* РАЗОБРАТЬСЯ С ОТНОСИТЕЛЬНОЙ ВЕЛИЧИНОЙ */
