.content {
  grid-area: content;
  display: grid;
  grid-template-areas:
  'lead'
  'intro'
  'photo-grid'
  'places'
  'cover';
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 95px;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .content  {
    grid-row-gap: 18vw;
  }
}
