.content {
  grid-area: content;

  display: grid;
  grid-template-areas:
  'lead'
  'intro'
  'photo-grid'
  'places'
  'cover';
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 92px;

  justify-items: center;
}
