.lead__title {
  margin: 0 0 32px 0;

  font-size: 6rem;
  line-height: 1.0417;
  font-weight: 900;

  text-align: center;

  color: inherit;
  background-color: transparent;
}



@media screen and (max-width: 870px) {
  .lead__title {

    max-width: 100vw;
  }
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;

  }
}
