.lead__title {
  grid-area: lead__title;
  margin: 0 0 32px 0;

  font-size: 6rem;
  line-height: 1.0417;
  font-weight: 900;

  text-align: center;
}

@media screen and (max-width: 984px) {
  .lead__title  {
    margin: 0 3vw 32px 3vw;
  }
}

@media screen and (max-width: 732px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0 3vw 16px 3vw;

  }
}
