.footer__links {
  grid-area: footer__links;
  padding: 0;
  margin: 0;
  list-style: none;
  display:grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 19px;
}



@media screen and (max-width: 714px) {
.footer__links  {
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 0;
  grid-template-rows: auto auto;
  grid-column-gap: 0;
  grid-row-gap: 32px;
  }
}
