.place__paragraph {
  margin:0;
  font-size: 1.125rem;
  line-height: 1.7;
  white-space: pre-line;
}

@media screen and (max-width: 1200px) {
  .place__paragraph {
    white-space: normal;
  }
}

@media screen and (max-width: 900px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.625;
  }
}
