.footer__copyright {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 0.875rem;
  line-height: 1.143;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1;
  }
}
