@import url('./__text/intro__text.css');
@import url('./__title/intro__title.css');
@import url('./__list/intro__list.css');
@import url('./__span-accent/intro__span-accent.css');

/* РАЗОБРАТЬСЯ С ОТНОСИТЕЛЬНОЙ ВЕЛИЧИНОЙ */

.intro {
  grid-area: intro;
  max-width: 76.875vw;
  display: inline-grid;
  grid-template-areas:
    'intro__title'
    'intro__text'
    'intro__list';
  grid-template-columns: minmax(min-content, 640px) minmax(min-content, calc(76.875vw - 640px));
}


/* grid-template-columns: minmax(288px, 700px) 300px; */
/* grid-template-columns: minmax(min-content, max-content) calc(76.875vw - 53.9vw); */
