@import url('./__text/intro__text.css');
@import url('./__title/intro__title.css');
@import url('./__list/intro__list.css');
@import url('./__span-accent/intro__span-accent.css');

.intro {
  grid-area: intro;
  display: grid;
  grid-template-areas:
    'intro__title .'
    'intro__text .'
    'intro__list .';
  grid-template-columns: 690px minmax(0, 294px);
}

@media screen and (max-width: 800px) {
  .intro {
    grid-template-areas:
      'intro__title'
      'intro__text'
      'intro__list';
    grid-template-columns: auto ;
  }
}
