.lead__subtitle {
  grid-area: lead__subtitle;
  margin: 0 0 65px 0;
  font-size: 1.875rem;
  line-height: 1.2;
  text-align: center;
  white-space: pre-line;
  max-width: 500px;
}

@media screen and (max-width: 984px) {
  .lead__subtitle  {
    margin: 0 3vw 64px 3vw;
  }
}

@media screen and (max-width: 732px) {
  .lead__subtitle  {
    font-size: 1rem;
    line-height: 1.25;
    margin: 0 3vw 40px 3vw;
  }
}
