.place__link {
  grid-area: place__link;
  font-size: 1.125rem;
  line-height: 1.222;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
