.cover__title {
  margin: 0;

  font-size: 4.5rem;
  line-height: 1.055;

  text-align: center;

  color: #fffdfd;
  background-color: transparent;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1.094;
  }
}
