.cover__title {
  margin:0;
  position: absolute;
  font-size: 4.5rem;
  line-height: 1.055;
  z-index: 2;

  text-align: center;

  color: #fffdfd;
  background-color: transparent;






  width: 500px;

}

@media screen and (max-width: 500px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1.094;
  }
}
