@import url('./__copyright/footer__copyright.css');
@import url('./__links/footer__links.css');
@import url('./__link/footer__link.css');

.footer {
  grid-area: footer;
  display: grid;
  grid-template-areas:
  'footer__links footer__copyright';
  margin: 93px 0 20px 0;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .footer {
    margin: 89px 0 24px 0;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    margin: 88px 0 24px 0;
  }
}

@media screen and (max-width: 714px) {
  .footer  {
    margin: 67px 0 24px 0;
    grid-template-areas:
      'footer__links'
      'footer__copyright';
    grid-template-rows: auto auto;
  }
}
