@import url('./__copyright/footer__copyright.css');
@import url('./__links/footer__links.css');
@import url('./__link/footer__link.css');

.footer {
  grid-area: footer;
  display: grid;
  grid-template-areas:
  'footer__links footer__copyright';
  margin: 88px 0 24px 0;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .footer {
    margin: 92px 0 24px 0;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    margin: 86px 0 24px 0;
  }
}


@media screen and (max-width: 300px) {
.footer  {
  margin: 0 3vw 24px 0;
  grid-template-areas:
    'footer__links'
    'footer__copyright';
  grid-template-rows: auto auto;
}
}
