@import url('./__copyright/footer__copyright.css');
@import url('./__links/footer__links.css');
@import url('./__link/footer__link.css');

.footer {
  grid-area: footer;
  display: grid;
  grid-template-areas:
    'footer__links footer__copyright';
  margin: 90px 0 24px 0;
  grid-template-columns: auto auto;

  justify-content: space-between;
  align-items: center;
}

  @media screen and (max-width: 1360px) {
  .footer  {
    margin: 90px 3vw 24px 3vw;
  }
}




@media screen and (max-width: 714px) {
.footer  {
  margin: 64px 3vw 24px 3vw;
  grid-template-areas:
    'footer__links'
    'footer__copyright';
  grid-template-rows: auto auto;
}
}
