.place__website {
  grid-area: place__website;
  display: grid;
  grid-template-areas:
  'place__url-heading'
  'place__link';
  grid-gap: 12px 0;
  place-self: end start;
}

@media screen and (max-width: 706px) {
  .place__website {
    display: none;
  }
}
